[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikitlearn = "*"
sklearn = "*"
scikit-learn = "*"
ipython-sql = "*"

[requires]
python_version = "3.7"
